<% layout("/layouts/boilerplate")%>
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <div>
       <h4 class = "alert-heading"><%=err.message%></h4>
    
    </div>
  </div>
